In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("wi.csv")

/tmp/ipykernel_418840/3756477020.py:1: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("wi.csv")

In [10]:
pd.to_numeric(df["interest_rate"], errors="coerce").dropna().mean()

3.266264315063852

In [3]:
df2 = df

In [4]:
df = None

In [5]:
df2 = 123

In [7]:
df.head()

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2020,549300FX7K8PTEQUU487,31540,WI,55025.0,5.502500e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3572,41.15,96600,64,812,910,45
1,2020,549300FX7K8PTEQUU487,99999,WI,55013.0,5.501397e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,2333,9.90,68000,87,1000,2717,34
2,2020,549300FX7K8PTEQUU487,99999,WI,55127.0,5.512700e+10,C,VA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,5943,13.26,68000,104,1394,1856,44
3,2020,549300FX7K8PTEQUU487,99999,WI,55127.0,5.512700e+10,C,Conventional:Subordinate Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,5650,7.63,68000,124,1712,2104,36
4,2020,549300FX7K8PTEQUU487,33460,WI,55109.0,5.510912e+10,C,VA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,7210,4.36,97300,96,2101,2566,22

In [8]:
df.columns

Index(['activity_year', 'lei', 'derived_msa-md', 'state_code', 'county_code',
       'census_tract', 'conforming_loan_limit', 'derived_loan_product_type',
       'derived_dwelling_category', 'derived_ethnicity', 'derived_race',
       'derived_sex', 'action_taken', 'purchaser_type', 'preapproval',
       'loan_type', 'loan_purpose', 'lien_status', 'reverse_mortgage',
       'open-end_line_of_credit', 'business_or_commercial_purpose',
       'loan_amount', 'loan_to_value_ratio', 'interest_rate', 'rate_spread',
       'hoepa_status', 'total_loan_costs', 'total_points_and_fees',
       'origination_charges', 'discount_points', 'lender_credits', 'loan_term',
       'prepayment_penalty_term', 'intro_rate_period', 'negative_amortization',
       'interest_only_payment', 'balloon_payment',
       'other_nonamortizing_features', 'property_value', 'construction_method',
       'occupancy_type', 'manufactured_home_secured_property_type',
       'manufactured_home_land_property_interest', 'total_units',
       'multifamily_affordable_units', 'income', 'debt_to_income_ratio',
       'applicant_credit_score_type', 'co-applicant_credit_score_type',
       'applicant_ethnicity-1', 'applicant_ethnicity-2',
       'applicant_ethnicity-3', 'applicant_ethnicity-4',
       'applicant_ethnicity-5', 'co-applicant_ethnicity-1',
       'co-applicant_ethnicity-2', 'co-applicant_ethnicity-3',
       'co-applicant_ethnicity-4', 'co-applicant_ethnicity-5',
       'applicant_ethnicity_observed', 'co-applicant_ethnicity_observed',
       'applicant_race-1', 'applicant_race-2', 'applicant_race-3',
       'applicant_race-4', 'applicant_race-5', 'co-applicant_race-1',
       'co-applicant_race-2', 'co-applicant_race-3', 'co-applicant_race-4',
       'co-applicant_race-5', 'applicant_race_observed',
       'co-applicant_race_observed', 'applicant_sex', 'co-applicant_sex',
       'applicant_sex_observed', 'co-applicant_sex_observed', 'applicant_age',
       'co-applicant_age', 'applicant_age_above_62',
       'co-applicant_age_above_62', 'submission_of_application',
       'initially_payable_to_institution', 'aus-1', 'aus-2', 'aus-3', 'aus-4',
       'aus-5', 'denial_reason-1', 'denial_reason-2', 'denial_reason-3',
       'denial_reason-4', 'tract_population',
       'tract_minority_population_percent',
       'ffiec_msa_md_median_family_income', 'tract_to_msa_income_percentage',
       'tract_owner_occupied_units', 'tract_one_to_four_family_homes',
       'tract_median_age_of_housing_units'],
      dtype='object')

In [ ]:
# f = open(..., mode="r")   # text mode (default)
# f = open(..., mode="rb")  # bytes mode

# f = zf.open(...)          # bytes mode by default

In [17]:
# GOALS:
# 1. how to access without unzipping first?
# 2. only load one row at a time to memory

import zipfile
import csv
from io import TextIOWrapper

# stats for average
total = 0
count = 0

zf = zipfile.ZipFile("wi.zip")

f = zf.open("wi.csv")
reader = csv.DictReader(TextIOWrapper(f))
for row in reader:
    try:
        rate = float(row["interest_rate"])
        total += rate
        count += 1
    except ValueError:
        pass # ignore it
f.close()

zf.close()

total/count

3.266264315063054

In [19]:
def get_rates_v1():
    rates = []
    zf = zipfile.ZipFile("wi.zip")

    f = zf.open("wi.csv")
    reader = csv.DictReader(TextIOWrapper(f))
    for row in reader:
        try:
            rate = float(row["interest_rate"])
            rates.append(rate)
        except ValueError:
            pass # ignore it
    f.close()

    zf.close()
    return rates

total = 0
count = 0
for rate in get_rates_v1():
    total += rate
    count += 1
total/count

3.266264315063054

In [23]:
def get_rates_v2():
    print("test")
    zf = zipfile.ZipFile("wi.zip")

    f = zf.open("wi.csv")
    reader = csv.DictReader(TextIOWrapper(f))
    for row in reader:
        try:
            rate = float(row["interest_rate"])
            yield rate
        except ValueError:
            pass # ignore it
    f.close()

    zf.close()

rates = get_rates_v2()

In [24]:
next(rates) # runs the generator function until it gets to a yield

test

3.0

In [25]:
next(rates)

3.75

In [ ]:
for r in rates: # keeps calling next(rates) as long as it can
    pass

In [28]:
len(rates)

TypeError: object of type 'generator' has no len()

In [29]:
rates = list(get_rates_v2())
rates.sort()
rates[len(rates)//2]

test

3.125

In [22]:
total = 0
count = 0
for rate in get_rates_v2():
    total += rate
    count += 1
total/count

test

3.266264315063054